WeatherApp/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MeteoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentDay" nillable="true" type="tns:DayMeteoInfo" />
      <xs:element minOccurs="0" name="Days" nillable="true" type="tns:ArrayOfDayMeteoInfo" />
      <xs:element minOccurs="0" name="EveningTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MorningTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeteoInfo" nillable="true" type="tns:MeteoInfo" />
  <xs:complexType name="DayMeteoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Humidity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Metcast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pressure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WindDirection" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DayMeteoInfo" nillable="true" type="tns:DayMeteoInfo" />
  <xs:complexType name="ArrayOfDayMeteoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DayMeteoInfo" nillable="true" type="tns:DayMeteoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDayMeteoInfo" nillable="true" type="tns:ArrayOfDayMeteoInfo" />
  <xs:complexType name="ArrayOfCities">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cities" nillable="true" type="tns:Cities" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCities" nillable="true" type="tns:ArrayOfCities" />
  <xs:complexType name="Cities">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cities" nillable="true" type="tns:Cities" />
</xs:schema>